<template>
    <div class="card-product-info">
        <div class="photo"><img :src="photoPath" :alt="productName"/></div>
        <div class="title">{{productName}}</div>
        <div class="price">가격: {{productPrice | currency}}원</div>
        <div class="discount">할인된 가격: {{productDiscount | currency}}원</div>
        <div class="guar">{{productGuar}}</div>
        <div class="ship">{{productShip}}</div>
        <div class="card">{{productCard}}</div>
        <div class="point">{{productPoint}}</div>
        <div class="origin">제조국가: {{productOrigin}}</div>

        <div class="detail"><nuxt-link :to="'/vp/products/' + id">자세히 보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: Number,
            required: true
        },
        photoPath: {
            type: String,
            required: true
        },
        productName: {
            type: String,
            required: true
        },
        productPrice: {
            type: Number,
            required: true
        },
        productDiscount: {
            type: Number,
            required: true
        },
        productGuar: {
            type: String,
            required: true
        },
        productShip: {
            type: String,
            required: true
        },
        productCard: {
            type: String,
            required: true
        },
        productOrigin: {
            type: String,
            required: true
        },
        productPoint: {
            type: String,
            required: true
        }
    }
}
</script>
