div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}

/*copang*/
div.card-product-info {
    display: inline-block;
    /*border: #666666 1px solid;*/
    padding: 15px;
    margin: 15px;
    text-align: center;
    transition: all .2s linear;
    width: 460px;

}
div.card-product-info > div.photo > img {
    width: 320px;
    height: 350px;
}
div.card-product-info > div.title {
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
}
div.card-product-info > div.card {
    color: #ac0000;
}
div.card-product-info > div.price {
    text-decoration: line-through;
    font-size: 13px;
}
div.card-product-info > div.discount {
    color: #ac0000;
    font-weight: 600;
}
div.banner {
    width: auto;
    text-align: center;
}
div.card-product-info:hover {
    box-shadow: 1px 1px 20px #b5b5b5;
}
/*div.card-product-info:hover {*/
/*    transform: scale(1.1);*/
/*    transition: all .2s linear;*/
/*    overflow: hidden;*/
/*}*/
div.card-product-info:hover > div.title {
    color: rgba(0, 19, 255, 0.95);
    text-decoration: underline;
}
div.card-product-info > div.guar {
    color: #1a8400;
}
div.card-product-info > div.point {
    border: 1px solid #666666;
    border-radius: 20px;
    width: 140px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    display: inline-block;
}
div.card-product-info > div.title {
    margin-bottom: 12px;
}
div.card-product-info > div.price {
    margin-bottom: 1px;
}
div.card-product-info > div.discount {
    margin-bottom: 7px;
}
div.card-product-info > div.guar {
    margin-bottom: 1px;
}
div.card-product-info > div.ship {
    margin-bottom: 7px;
}
div.card-product-info > div.card {
    margin-bottom: 2px;
}
div.card-product-info > div.origin {
    margin-bottom: 15px;
}
div.card-product-info > div.point {
    margin-bottom: 6px;
}
div.card-product-info > div.detail {
    margin-bottom: -9px;
}
div.page {
    display: flex;
    justify-content: center;
    margin-left: 400px;
}
div.page > a {
    border: 2px solid #e6e6e6;
    width: 40px;
    height: 40px;
    font-size: 38px;
    text-align: center;
    maigin: 0 3px;
    color: #999;
}
div.page > a:hover {
    color: #151515;
}
.page-number {
    text-align: center;
    justify-content: center;
    width: 100%;
    bottom: 14px;
    position: fixed;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px #b5b5b5;
}
.page-number > .pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}
.page-number > .pagination li {
    display: inline;
    text-align: center;
}
.page-number > .pagination a {
    display: block;
    float: left;
    font-size: 24px;
    text-decoration: none;
    padding: 5px 12px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 14px;
}
.page-number > .pagination a:hover {
    color: #f84e16;
}
