<template>
    <div>
        <div class="banner"><img src="/images/sale.webp" alt="세일"/></div>
        <section>
            <card-product-info
                v-for="(item, index) in pds"
                v-bind:key="index"
                v-bind:id="item.id"
                v-bind:product-origin="item.pdOrigin"
                v-bind:product-card="item.pdCard"
                v-bind:product-guar="item.pdGuar"
                v-bind:product-ship="item.pdShip"
                v-bind:product-discount="item.pdDiscount"
                v-bind:product-price="item.pdPrice"
                v-bind:product-name="item.pdName"
                v-bind:photo-path="item.photoName"
                v-bind:product-point="item.pdPoint"
            />
        </section>
        <div class="page-number">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            pds: [
                {
                    id: 4,
                    photoName: '/images/dryer.jpg',
                    pdName: '드라이어',
                    pdPrice: 100000,
                    pdDiscount: 50000,
                    pdGuar: '내일 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 2% 즉시 할인',
                    pdOrigin: '한국',
                    pdPoint: '최대 323원 적립'
                },
                {
                    id: 6,
                    photoName: '/images/iron.jpg',
                    pdName: '다리미',
                    pdPrice: 150000,
                    pdDiscount: 100000,
                    pdGuar: '일주일 내로 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 4% 즉시 할인',
                    pdOrigin: '대만',
                    pdPoint: '최대 813원 적립'
                },
                {
                    id: 8,
                    photoName: '/images/phone.jpg',
                    pdName: '집전화기',
                    pdPrice: 200000,
                    pdDiscount: 150000,
                    pdGuar: '한달 내로 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 8% 즉시 할인',
                    pdOrigin: '태국',
                    pdPoint: '최대 723원 적립'
                },
                {
                    id: 10,
                    photoName: '/images/razor.jpg',
                    pdName: '면도기',
                    pdPrice: 250000,
                    pdDiscount: 200000,
                    pdGuar: '한달 내로 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 1% 즉시 할인',
                    pdOrigin: '캐나다',
                    pdPoint: '최대 1126원 적립'
                },
                {
                    id: 12,
                    photoName: '/images/scale.jpg',
                    pdName: '저울',
                    pdPrice: 300000,
                    pdDiscount: 250000,
                    pdGuar: '내일 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 6% 즉시 할인',
                    pdOrigin: '독일',
                    pdPoint: '최대 909원 적립'
                },
                {
                    id: 14,
                    photoName: '/images/toast.jpg',
                    pdName: '토스트기',
                    pdPrice: 350000,
                    pdDiscount: 300000,
                    pdGuar: '내일 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 7% 즉시 할인',
                    pdOrigin: '싱가포르',
                    pdPoint: '최대 423원 적립'
                },
                {
                    id: 16,
                    photoName: '/images/clipper.jpg',
                    pdName: '전기이발기',
                    pdPrice: 400000,
                    pdDiscount: 350000,
                    pdGuar: '두달 내로 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 0.5% 즉시 할인',
                    pdOrigin: '네덜란드',
                    pdPoint: '최대 616원 적립'
                },
                {
                    id: 18,
                    photoName: '/images/oven.jpg',
                    pdName: '오븐',
                    pdPrice: 450000,
                    pdDiscount: 400000,
                    pdGuar: '당일 도착 보장',
                    pdShip: '무료배송',
                    pdCard: '최대 카드 7% 즉시 할인',
                    pdOrigin: '자메이카',
                    pdPoint: '최대 218원 적립'
                }
            ]
        }
    }
}
</script>
